@charset "utf-8";

body {
	margin: 0;
	background: lightsalmon;
}
.mao_box {
	position: relative;
	top: 50px;
}
.mao {
	margin: 0 auto;
	width: 400px;
}
.mao_head {
	margin: 0 auto;
	width: 400px;
	height: 340px;
	background: #F6F7F2;
	position: relative;
	border-radius: 50% 50% 35% 35%;
	border: 2px solid #2e2e2e;
	overflow: hidden;
	z-index: 10;
}
.huawen {
	position: absolute;
	height: 160px;
	width: 180px;
	background: #8D8D8D;
	left: 110px;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
}
.huawen > div:first-child {
     height: 160px;
     width: 90px;
     background: #f0ac6b;
}
.ear {
	width: 374px;
	height: 120px;
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -187px;
	border-radius: 0 0 0 0 !important;
}
/*左耳*/
.ear >div:first-child {
	height: 200px;
	width: 160px;
	border: 2px solid #2e2e2e;
	background: #f3f3f3;
	-webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
            border-radius: 4% 80%  50%;
            position: absolute;
            left: -20px;
            top: 0;
            transition: transform 1s, left 1s; 
}
/*右耳*/
.ear > div:last-child {
	height: 180px;
	width: 160px;
	border: 2px solid #2e2e2e;
	background: #f3f3f3;
	-webkit-transform: rotate(15deg);
	    -ms-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
         -o-transform: rotate(15deg);
	        transform: rotate(15deg);
    border-radius: 80% 4% 50% 0;
    position: absolute;
    right: -20px;
    top: 0;
	transition: transform 1s,right 1s;        
}
/*鼠标浮动耳朵样式*      *左耳*/
.mao:hover .ear > div:first-child {
	left: -10px;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
    border-radius: 4% 80% 0% 60%;
   }
   
/*鼠标浮动耳朵样式*      *右耳*/
.mao:hover .ear > div:last-child {
	right: -10px;
	-webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 80% 4% 60% 0%;
}
/*  眼睛  */
.eye {
	height: 60px;
	width: 300px;
	position: absolute;
	top: 200px;
	z-index: 20;
	left: 50%;
	margin-left: -150px;
	overflow: hidden;
}
.yanquan {
	height: 100px;
	width: 100px;
	border: 2px solid #2e2e2e;
	border-radius: 50% 50% 50% 50%;
	overflow: hidden;
	position: absolute;
}
/*  眼珠   */
.yanquan > div:first-child {
	height: 100px;
	width: 30px;
	background-color: #2e2e2e;
	margin-left: 35px;
	transition: all 1s;
}
.mao:hover .yanquan > div:first-child {
	width: 40px;
	margin-left: 30px;
}
.yanquan_hedding {
	width: 180px;
	height: 100px;
	border-top: 2px solid #2e2e2e;
	border-radius: 50%;
	background: #f6f7f2;
	margin-top: 50px;
	margin-left: -40px;
	position: absolute;
	transition: margin-top 1s;
}
.hong {
	height: 28px;
	width: 70px;
	background: red;
	position: absolute;
	left: 18px;
	top: 34px;
	border-radius: 50%;
	background-image: -moz-radial-gradient( 50% 50%, rgba(253,214,240,0.8) 0%, rgba(253,224,244,0.8) 66%, rgba(253,234,247,0.8) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, rgba(253,214,240,0.8) 0%, rgba(253,224,244,0.8) 66%, rgba(253,234,247,0.8) 100%);
    background-image: -ms-radial-gradient( 50% 50%, rgba(253,214,240,0.8) 0%, rgba(253,224,244,0.8) 66%, rgba(253,234,247,0.8) 100%);
    opacity: 0.0;
}
.eye_right {
	 position: absolute;
	 left: 196px;
	 top: 0;
	 background: red;
}
/*  眼睛浮动属性  */
.mao:hover .yanquan_hedding {
	margin-top: 30px;
}
.mao:hover .hong {
	opacity: 0.8;
	transition: opacity 0.5 ease-in 0.2s; 
}
/*  脸豹纹  */
.face_huawen {
	height: 80px;
	width: 380px;
	position: absolute;
	top: 190px;
	z-index: 20;
	left: 50%;
	margin-left: -190px;
}
.face_huawen_huawen > div:first-child {
	width: 30px;
	height: 10px;
	border-top: 6px solid #e53941;
	border-radius: 30% 80% 20% 50%;
	-webkit-transform: rotate(25deg);
	    -ms-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
         -o-transform: rotate(25deg);
            transform: rotate(25deg);
    margin-left: 20px;
} 
.face_huawen_huawen > div:nth-child(2) {
	width: 20px;
	height: 6px;
	background-color: #e53941;
	border-radius: 50% 50% 50% 50%;
	-webkit-transform: rotate(25deg);
	    -ms-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
         -o-transform: rotate(25deg);
            transform: rotate(25deg);
    margin-left: 20px;        
}
.face_huawen_huawen > div:nth-child(3) {
	width: 32px;
	height: 10px;
	border-bottom: 4px solid #e53941;
	border-radius: 30% 0 90% 30%;
	-webkit-transform: rotate(25deg);
	    -ms-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
         -o-transform: rotate(25deg);
            transform: rotate(25deg);
    margin-left: 8px; 
}
.face_huawen_huawen > div:nth-child(4) {
    margin-top: 20px;
    width: 26px;
    height: 20px;
    border-bottom: 4px #E53941 solid;
    border-radius: 30% 0% 90% 30%;
    -webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
         -o-transform: rotate(30deg);
            transform: rotate(30deg);
    margin-left: 28px;
}
.face_huawen_huawen > div:last-child {
	width: 22px;
	height: 10px;
	border-radius: 0 0 50% 50%;
	border-bottom: 3px solid #e53941;
	-webkit-transform: rotate(-15deg);
	    -ms-transform: rotate(-15deg);
       -moz-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
    margin-left: 40px;
    margin-top: -8px;
}
 .huawen_right {
	float: right;
	-webkit-transform: rotate(80deg);
	    -ms-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
            margin-top: -85px;
}
.nose {
	width: 30px;
	height: 36px;
	position: absolute;
	left: 50%;
	top: 260px;
	margin-left: -15px;
	z-index: 30;
}
.nose > div:first-child {
	width: 30px;
	height: 10px;
	border-bottom: 8px solid #2e2e2e;
    border-radius: 0 0 50% 50%;
    margin-top: -10px;
}
.mouse_box {
	width: 200px;
	height: 36px;
	position: absolute;
	left: 50%;
	top: 260px;
	margin-left: -100px;
	overflow: hidden;
	z-index: 30;
}
.mouse {
	margin-left: 85px;
	margin-top: 6px;
}
.mouse > div:first-child {
	width: 4px;
	height: 8px;
	background: #2e2e2e;
	margin-left: 13px;
} 
 /*右半边嘴巴*/
.mouse > div:nth-child(2) {
	width: 50px;
	height: 40px;
	border-bottom: 4px solid #2e2e2e;
	border-left: 4px solid #2e2e2e;
	border-radius: 40% 0 20% 50%;
	margin-left: 13px;
	margin-top: -26px;
	position: absolute;
	transition: border-radius 1s;
}

 /*左半边嘴巴*/
.mouse > div:nth-child(3) {
	width: 50px;
	height: 40px;
	border-bottom: 4px solid #2e2e2e;
	border-right: 4px solid #2e2e2e;
	border-radius: 0 40% 50% 20%;
	margin-left: -38px;
	margin-top: -26px;
	position: absolute;
	transition: border-radius 1s;
}
.mao:hover .mouse > div:nth-child(2) {
	border-radius: 50%;
	width: 40px;
}
.mao:hover .mouse > div:nth-child(3) {
	width: 40px;
	margin-left: -30px; 
	border-radius: 50%;
}

